<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio Gallery</title>
  </head>

  <body>
    <h1>Project Gallery</h1>

    <form action="/" method="GET" style="margin-bottom: 20px">
      <input
        type="text"
        name="query"
        placeholder="Search titles or descriptions..."
      />

      <select name="category">
        <option value="">All Categories</option>
        <option value="Nature">Nature</option>
        <option value="Tech">Tech</option>
      </select>

      <button type="submit">Filter</button>
    </form>

    {% for project in projects %}
    <div>
      <h2>{{ project.title }}</h2>

      <p><strong>Category:</strong> {{ project.category }}</p>

      <img
        src="static/images/{{ project.images }}"
        alt="{{ project.title }}"
        width="400"
      />

      <p>{{ project.description }}</p>

      <hr />
    </div>
    {% endfor %}
  </body>
</html>
